@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
*,
*:after,
*:before {
    box-sizing: border-box;}

html,body{
	color:pink;
	width:100%;
	height:100%;
	text-align: center;
	margin: 0 !important;
	border:0;}	
	
.wrapper {
    height: 100%;
    width: 100%;}
	
section{
	color: #fff;
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
	 
.content{
	background-color:pink;
	color:#1a8cff;}

h2{
color: black;
font-family: 'Sedgwick Ave', cursive;}

h1,h3 {
font-family: 'Kaushan Script', cursive !important;}
